 body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #333;
            background-color: #f4f4f4;
            display: flex;
        }
        .container {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
        }

        @media screen and (min-width: 992px) {
    .container {
        max-width: 850px;
        flex-direction: row;
        align-items: stretch;
    }

    body {
        flex: 1;
    }
}